/* REM Y EM no dependen del font-size del HTML en media queries 
  En su lugar, 1rem = 1em = 10px 
*/

/* ################################# */
/* Debajo de 1344px (dividido entre 16) = 84em  */
/* ################################# */

@media ( max-width: 84em ) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ################################# */
/* Debajo de 1200px (dividido entre 16) (LANDSCAPE TABLETS) = 75em  */
/* ################################# */

@media ( max-width: 75em ) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

}

/* ################################# */
/* Debajo de 940px (dividido entre 16) (TABLETS) = 59em  */
/* ################################# */

@media ( max-width: 59em ) {

  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }

  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .delivered-meals {
    margin-top: 3.2rem;
    justify-content: center;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  /* Se especificó en su padre position: relative; */

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    /* Para sacarlo de la página hacia la derecha */
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Ocultar la navegacion */
    /* Las animaciones no sirven con display none */
    /* display: none; */

    /* Esto si se puede animar */

    /* PASO 1: OCULTARLO VISUALMENTE */
    opacity: 0;

    /* PASO 2: HACERLO INACCESIBLE AL MOUSE Y TECLADO */
    pointer-events: none;

    /* PASO 3: OCULTARLO PARA ASISTENTES VISUALES */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  } 
}

/* ################################# */
/* Debajo de 704px (dividido entre 16) (SMALLER TABLETS) = 44em  */
/* ################################# */

@media ( max-width: 44em ) {

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .diets {
    grid-column: 1 / 3;   
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .address-col,
  .logo-col {
    grid-column: span 3;
  }

}

/* ################################# */
/* Debajo de 550px (dividido entre 16) (PHONES) = 34em  */
/* ################################# */

@media ( max-width: 34em ) {

  .grid {
    column-gap: unset;
    row-gap: 4.8rem;
  }

  .grid--footer {
    row-gap: 4.8rem;
  }

  .address-col a {
    display: inline-block;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .meal:nth-child(1) {
    grid-row: 1;
  }
  
  .meal:nth-child(2) {
    grid-row: 2;
  }

  .seccion-hero {
    padding: 2.4rem 0 6.4rem 0;  
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    grid-row: 1;
    height: 36rem;
  }

}